
.bookshelfHeading {
  margin-left: 40px;
  color: #563232;
}

.displayBooksDiv {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 10px 40px;
  background-color: white;
}

.displayBookCard {
  width: 200px;
  height: 400px;
  text-wrap: wrap;
  margin: 10px;
  padding: 5px;
  background-color: #dae3fc74;
  box-shadow: 0 0 5px #dae3fc;
}
